<div class="overlay" [class.dark]="darkMode | async" (click)="closePopup($event)">
  <div class="popup text-black dark:text-white bg-white dark:bg-gray-900" (click)="stopClickPropagation($event)">
    <div class="popup-content">
      <div *ngIf="isEditing" class="flex flex-col editing-popup">
        <h1 class="popup-header">{{ item.name }}</h1>
        <table>
          <tr class="hover:bg-gray-100 hover:dark:bg-gray-700">
            <td>
              <label>Name:</label>
            </td>
            <td>
              <input
                class="editing-popup-info dark:bg-gray-600"
                type="text"
                [(ngModel)]="item.name"
              />
            </td>
          </tr>
          <tr class="hover:bg-gray-100 hover:dark:bg-gray-700">
            <td>
              <label>Size:</label>
            </td>
            <td>
              <input
                class="editing-popup-info dark:bg-gray-600"
                type="text"
                [(ngModel)]="item.size"
              />
            </td>
          </tr>
          <tr class="hover:bg-gray-100 hover:dark:bg-gray-700">
            <td>
              <label>Metric:</label>
            </td>
            <td>
              <input
                class="editing-popup-info dark:bg-gray-600"
                type="text"
                [(ngModel)]="item.is_metric"
              />
            </td>
          </tr>
          <tr class="hover:bg-gray-100 hover:dark:bg-gray-700">
            <td>
              <label>Location:</label>
            </td>
            <td>
              <table>
                <tr>
                  <td>
                    <label>Shelf:</label>
                  </td>
                  <td>
                    <input
                      class="editing-popup-info dark:bg-gray-600"
                      type="text"
                      [(ngModel)]="item.loc_shelf"
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Rack:</label>
                  </td>
                  <td>
                    <input
                      class="editing-popup-info dark:bg-gray-600"
                      type="text"
                      [(ngModel)]="item.loc_rack"
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Box:</label>
                  </td>
                  <td>
                    <input
                      class="editing-popup-info dark:bg-gray-600"
                      type="text"
                      [(ngModel)]="item.loc_box"
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Row:</label>
                  </td>
                  <td>
                    <input
                      class="editing-popup-info dark:bg-gray-600"
                      type="text"
                      [(ngModel)]="item.loc_row"
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Column:</label>
                  </td>
                  <td>
                    <input
                      class="editing-popup-info"
                      type="text"
                      [(ngModel)]="item.loc_col"
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Depth:</label>
                  </td>
                  <td>
                    <input
                      class="editing-popup-info dark:bg-gray-600"
                      type="text"
                      [(ngModel)]="item.loc_depth"
                    />
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr class="hover:bg-gray-100 hover:dark:bg-gray-700">
            <td>
              <label>Count:</label>
            </td>
            <td>
              <input
                class="editing-popup-info dark:bg-gray-600"
                type="text"
                [(ngModel)]="item.count"
              />
            </td>
          </tr>
          <tr class="hover:bg-gray-100 hover:dark:bg-gray-700">
            <td>
              <label>Threshold:</label>
            </td>
            <td>
              <input
                class="editing-popup-info dark:bg-gray-600"
                type="text"
                [(ngModel)]="item.threshold"
              />
            </td>
          </tr>
          <tr *ngIf="!isAdding" class="hover:bg-gray-100 hover:dark:bg-gray-700">
            <td>
              <button (click)="confirmPopup('save')" class="close-button">
                Save
              </button>
            </td>
            <td>
              <button (click)="confirmPopup('delete')" class="close-button">
                Delete
              </button>
            </td>
          </tr>
          <tr *ngIf="isAdding" class="hover:bg-gray-100">
            <td>
              <button (click)="confirmPopup('add')" class="close-button">
                Add Item
              </button>
            </td>
          </tr>
        </table>
      </div>


      <div *ngIf="!isEditing" class="flex flex-col editing-popup">
        <h1 class="popup-header">{{ item.name }}</h1>
        <table>
          <tr class="hover:bg-gray-100 hover:dark:bg-gray-700">
            <td>
              <label>Name:</label>
            </td>
            <td>
              <input
                class="popup-info dark:bg-gray-600"
                type="text"
                [(ngModel)]="item.name"
                readonly
              />
            </td>
          </tr>
          <tr class="hover:bg-gray-100 hover:dark:bg-gray-700">
            <td>
              <label>Size:</label>
            </td>
            <td>
              <input
                class="popup-info dark:bg-gray-600"
                type="text"
                [(ngModel)]="item.size"
                readonly
              />
            </td>
          </tr>
          <tr class="hover:bg-gray-100 hover:dark:bg-gray-700">
            <td>
              <label>Metric:</label>
            </td>
            <td>
              <input
                class="popup-info dark:bg-gray-600"
                type="text"
                [(ngModel)]="item.is_metric"
                readonly
              />
            </td>
          </tr>
          <tr class="hover:bg-gray-100 hover:dark:bg-gray-700">
            <td>
              <label>Location:</label>
            </td>
            <td>
              <table>
                <tr>
                  <td>
                    <label>Shelf:</label>
                  </td>
                  <td>
                    <input
                      class="popup-info dark:bg-gray-600"
                      type="text"
                      [(ngModel)]="item.loc_shelf"
                      readonly
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Rack:</label>
                  </td>
                  <td>
                    <input
                      class="popup-info dark:bg-gray-600"
                      type="text"
                      [(ngModel)]="item.loc_rack"
                      readonly
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Box:</label>
                  </td>
                  <td>
                    <input
                      class="popup-info dark:bg-gray-600"
                      type="text"
                      [(ngModel)]="item.loc_box"
                      readonly
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Row:</label>
                  </td>
                  <td>
                    <input
                      class="popup-info dark:bg-gray-600"
                      type="text"
                      [(ngModel)]="item.loc_row"
                      readonly
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Column:</label>
                  </td>
                  <td>
                    <input
                      class="popup-info"
                      type="text"
                      [(ngModel)]="item.loc_col"
                      readonly
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Depth:</label>
                  </td>
                  <td>
                    <input
                      class="popup-info dark:bg-gray-600"
                      type="text"
                      [(ngModel)]="item.loc_depth"
                      readonly
                    />
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr class="hover:bg-gray-100 hover:dark:bg-gray-700">
            <td>
              <label>Count:</label>
            </td>
            <td>
              <input
                class="popup-info dark:bg-gray-600"
                type="text"
                [(ngModel)]="item.count"
                readonly
              />
            </td>
          </tr>
          <tr class="hover:bg-gray-100 hover:dark:bg-gray-700">
            <td>
              <label>Threshold:</label>
            </td>
            <td>
              <input
                class="popup-info dark:bg-gray-600"
                type="text"
                [(ngModel)]="item.threshold"
                readonly
              />
            </td>
          </tr>
          <tr class="hover:bg-gray-100 hover:dark:bg-gray-700">
            <td>
              <button (click)="editItem($event)" class="close-button">
                Edit
              </button>
            </td>
          </tr>
        </table>
      </div>

      <button
        (click)="closePopup($event)"
        class="close-button border-solid border-gray-50 hover:dark:bg-gray-700"
      >
        Close
      </button>
      <!-- <button (click)="updateItem($event)" class="close-button">Save</button> -->
    </div>
  </div>
</div>
