<div class="fixed top-0 left-0 w-full h-full bg-black/50 z-[9998]" [class.dark]="darkMode | async" (click)="closePopup($event)">
  <div class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 p-5 shadow-lg z-[9999] w-[70%] min-w-[400px] text-black dark:text-white bg-white dark:bg-gray-900" (click)="stopClickPropagation($event)">
    <div class="p-5 flex flex-col">
      <div *ngIf="isEditing" class="flex flex-col">
        <h1 class="font-bold text-[30px] text-center w-full">
          {{ item.name }}
        </h1>
        <table>
          <tr class="hover:bg-gray-100 hover:dark:bg-gray-700">
            <td>
              <label>Name:</label>
            </td>
            <td>
              <input
                class="border border-gray-400 rounded-md text-[15px] w-full dark:bg-gray-600"
                type="text"
                [(ngModel)]="newItem.name"
              />
            </td>
          </tr>
          <tr class="hover:bg-gray-100 hover:dark:bg-gray-700">
            <td>
              <label>Size:</label>
            </td>
            <td>
              <input
                class="border border-gray-400 rounded-md text-[15px] w-full dark:bg-gray-600"
                type="text"
                [(ngModel)]="newItem.size"
              />
            </td>
          </tr>
          <tr class="hover:bg-gray-100 hover:dark:bg-gray-700">
            <td>
              <label>Metric:</label>
            </td>
            <td>
              <input
                class="border border-gray-400 rounded-md text-[15px] w-full dark:bg-gray-600"
                type="text"
                [(ngModel)]="newItem.is_metric"
              />
            </td>
          </tr>
          <tr class="hover:bg-gray-100 hover:dark:bg-gray-700">
            <td>
              <label>Location:</label>
            </td>
            <td>
              <table>
                <tr>
                  <td>
                    <label>Shelf:</label>
                  </td>
                  <td>
                    <input
                      class="border border-gray-400 rounded-md text-[15px] w-full dark:bg-gray-600"
                      type="text"
                      [(ngModel)]="newItem.loc_shelf"
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Rack:</label>
                  </td>
                  <td>
                    <input
                      class="border border-gray-400 rounded-md text-[15px] w-full dark:bg-gray-600"
                      type="text"
                      [(ngModel)]="newItem.loc_rack"
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Box:</label>
                  </td>
                  <td>
                    <input
                      class="border border-gray-400 rounded-md text-[15px] w-full dark:bg-gray-600"
                      type="text"
                      [(ngModel)]="newItem.loc_box"
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Row:</label>
                  </td>
                  <td>
                    <input
                      class="border border-gray-400 rounded-md text-[15px] w-full dark:bg-gray-600"
                      type="text"
                      [(ngModel)]="newItem.loc_row"
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Column:</label>
                  </td>
                  <td>
                    <input
                      class="border border-gray-400 rounded-md text-[15px] w-full dark:bg-gray-600"
                      type="text"
                      [(ngModel)]="newItem.loc_col"
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Depth:</label>
                  </td>
                  <td>
                    <input
                      class="border border-gray-400 rounded-md text-[15px] w-full dark:bg-gray-600"
                      type="text"
                      [(ngModel)]="newItem.loc_depth"
                    />
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr class="hover:bg-gray-100 hover:dark:bg-gray-700">
            <td>
              <label>Count:</label>
            </td>
            <td>
              <input
                class="border border-gray-400 rounded-md text-[15px] w-full dark:bg-gray-600"
                type="text"
                [(ngModel)]="newItem.count"
              />
            </td>
          </tr>
          <tr class="hover:bg-gray-100 hover:dark:bg-gray-700">
            <td>
              <label>Threshold:</label>
            </td>
            <td>
              <input
                class="border border-gray-400 rounded-md text-[15px] w-full dark:bg-gray-600"
                type="text"
                [(ngModel)]="newItem.threshold"
              />
            </td>
          </tr>
          <tr *ngIf="!isAdding" >
            <td class="items-center justify-center">
              <button (click)="confirmPopup('updateItem', true)" class="w-full h-full border border-gray-50 items-center dark:bg-gray-700 rounded-md dark:hover:bg-gray-600 hover:bg-gray-300">
                Save
              </button>
            </td>
            <td>
              <button (click)="confirmPopup('deleteItem', true)" class="w-20 h-full border border-gray-50 items-center dark:bg-gray-700 rounded-md dark:hover:bg-gray-600 hover:bg-gray-300">
                Delete
              </button>
            </td>
          </tr>
          <tr *ngIf="isAdding">
            <td>
              <button (click)="confirmPopup('addItem', false)" class="w-full h-full border border-gray-50 items-center dark:bg-gray-700 rounded-md dark:hover:bg-gray-600 hover:bg-gray-300">
                Add Item
              </button>
            </td>
          </tr>
        </table>
      </div>


      <div *ngIf="!isEditing" class="flex flex-col">
        <h1 class="font-bold text-[30px] text-center w-full">{{ item.name }}</h1>
        <table>
          <tr class="hover:bg-gray-100 hover:dark:bg-gray-700">
            <td>
              <label>Name:</label>
            </td>
            <td>
              <input
                class="font-bold text-[15px]  w-full dark:bg-gray-600"
                type="text"
                [(ngModel)]="item.name"
                readonly
              />
            </td>
          </tr>
          <tr class="hover:bg-gray-100 hover:dark:bg-gray-700">
            <td>
              <label>Size:</label>
            </td>
            <td>
              <input
                class="font-bold text-[15px]  w-full dark:bg-gray-600"
                type="text"
                [(ngModel)]="item.size"
                readonly
              />
            </td>
          </tr>
          <tr class="hover:bg-gray-100 hover:dark:bg-gray-700">
            <td>
              <label>Metric:</label>
            </td>
            <td>
              <input
                class="font-bold text-[15px]  w-full dark:bg-gray-600"
                type="text"
                [(ngModel)]="item.is_metric"
                readonly
              />
            </td>
          </tr>
          <tr class="hover:bg-gray-100 hover:dark:bg-gray-700">
            <td>
              <label>Location:</label>
            </td>
            <td>
              <table>
                <tr>
                  <td>
                    <label>Shelf:</label>
                  </td>
                  <td>
                    <input
                      class="border rounded-sm w-full dark:bg-gray-600"
                      type="text"
                      [(ngModel)]="item.loc_shelf"
                      readonly
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Rack:</label>
                  </td>
                  <td>
                    <input
                      class="border rounded-sm w-full dark:bg-gray-600"
                      type="text"
                      [(ngModel)]="item.loc_rack"
                      readonly
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Box:</label>
                  </td>
                  <td>
                    <input
                      class="border rounded-sm w-full dark:bg-gray-600"
                      type="text"
                      [(ngModel)]="item.loc_box"
                      readonly
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Row:</label>
                  </td>
                  <td>
                    <input
                      class="border rounded-sm w-full dark:bg-gray-600"
                      type="text"
                      [(ngModel)]="item.loc_row"
                      readonly
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Column:</label>
                  </td>
                  <td>
                    <input
                      class="border rounded-sm w-full dark:bg-gray-600"
                      type="text"
                      [(ngModel)]="item.loc_col"
                      readonly
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Depth:</label>
                  </td>
                  <td>
                    <input
                      class="border rounded-sm w-full dark:bg-gray-600"
                      type="text"
                      [(ngModel)]="item.loc_depth"
                      readonly
                    />
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr class="hover:bg-gray-100 hover:dark:bg-gray-700">
            <td>
              <label>Count:</label>
            </td>
            <td>
              <input
                class="border rounded-sm w-full dark:bg-gray-600"
                type="text"
                [(ngModel)]="item.count"
                readonly
              />
            </td>
          </tr>
          <tr class="hover:bg-gray-100 hover:dark:bg-gray-700">
            <td>
              <label>Threshold:</label>
            </td>
            <td>
              <input
                class="border rounded-sm w-full dark:bg-gray-600"
                type="text"
                [(ngModel)]="item.threshold"
                readonly
              />
            </td>
          </tr>
          <tr >
            <td>
              <button (click)="editItem($event)" class="items-center w-full h-full border border-gray-50 dark:bg-gray-700 rounded-md hover:dark:bg-gray-600 hover:bg-gray-300">
                Edit
              </button>
            </td>
          </tr>
        </table>
      </div>

      <button
        (click)="closePopup($event)"
        class="w-full h-full border border-gray-50 items-center dark:bg-gray-700 rounded-md dark:hover:bg-gray-600 hover:bg-gray-300"
      >
        Close
      </button>
    </div>
  </div>
</div>
