<!-- Main layout of the app -->
<div
  [class.dark]="darkMode | async"
  class="w-full min-h-screen bg-white dark:bg-gray-900 text-black dark:text-white"
>
  <div
    class="bg-gray-100 pt-4 text-black dark:bg-gray-900 dark:text-white flex flex-row justify-center items-center"
  >
    <!-- Navigation -->
    <nav class="flex gap-3 align-center justify-center">
      <div #homeDropdownRef class="relative inline-block">
        <button
          (click)="toggleDropdown('home')"
          class="px-4 py-2 bg-blue-600 text-white rounded-md"
        >
          Home
        </button>
        <div
          *ngIf="showHomeDropdown"
          class="absolute left-0 mt-2 w-40 bg-white border rounded-md shadow-lg z-10"
          (click)="$event.stopPropagation()"
        >
          <a
            routerLink="/"
            class="block px-4 py-2 hover:bg-gray-100 text-black dark:text-white bg-slate-500 dark:bg-slate-600"
            >IDEA Lab Home</a
          >
          <a
            routerLink="/electrical-home"
            class="block px-4 py-2 hover:bg-gray-100 text-black dark:text-white bg-slate-500 dark:bg-slate-600"
          >
            Electrical Lab Home
          </a>
        </div>
      </div>
      <div
        *ngIf="check_level()"
        #adminDropdownRef
        class="relative inline-block"
      >
        <button
          (click)="toggleDropdown('admin')"
          class="px-4 py-2 bg-blue-600 text-white rounded-md"
        >
          Admin
        </button>
        <div
          *ngIf="showAdminDropdown"
          class="absolute left-0 mt-2 w-40 bg-white border rounded-md shadow-lg z-10"
          (click)="$event.stopPropagation()"
        >
          <a
            routerLink="/admin"
            class="block px-4 py-2 hover:bg-gray-100 text-black dark:text-white bg-slate-500 dark:bg-slate-600"
            >IDEA Lab Admin</a
          >
        </div>
      </div>
      <div
        *ngIf="check_level()"
        #managementDropdownRef
        class="relative inline-block"
      >
        <button
          (click)="toggleDropdown('management')"
          class="px-4 py-2 bg-blue-600 text-white rounded-md"
        >
          Management
        </button>
        <div
          *ngIf="showManagementDropdown"
          class="absolute left-0 mt-2 w-40 bg-white border rounded-md shadow-lg z-10"
          (click)="$event.stopPropagation()"
        >
          <a
            routerLink="/user-management"
            class="block px-4 py-2 hover:bg-gray-100 text-black dark:text-white bg-slate-500 dark:bg-slate-600"
            >User Management</a
          >
          <a
            routerLink="/logs"
            class="block px-4 py-2 hover:bg-gray-100 text-black dark:text-white bg-slate-500 dark:bg-slate-600"
            >User Logs</a
          >
          <a
            routerLink="/data-download"
            class="block px-4 py-2 hover:bg-gray-100 text-black dark:text-white bg-slate-500 dark:bg-slate-600"
            >Data Download</a
          >
        </div>
      </div>
      <button
        *ngIf="!isAuthenticated"
        routerLink="/authentication"
        class="px-4 py-2 bg-blue-600 text-white border rounded-md"
      >
        Login
      </button>
      <button
        *ngIf="isAuthenticated"
        (click)="logout()"
        class="px-4 py-2 bg-blue-600 text-white border rounded-md"
      >
        Logout
      </button>
      <!-- <button (click)="setMode(false)">Light Mode☀️</button> -->
      <!-- <button (click)="setMode(true)">Dark Mode🌑</button> -->
      <div class="flex p-2 rounded-sm hover:bg-gray-100 dark:hover:bg-gray-600">
        <label class="inline-flex items-center w-full cursor-pointer">
          <input
            type="checkbox"
            value=""
            (click)="toggleDarkMode()"
            [checked]="darkMode | async"
            class="sr-only peer"
          />
          <div
            class="relative w-9 h-5 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-600 peer-checked:after:translate-x-full rtl:peer-checked:after:translate-x-[-100%] peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-500 peer-checked:bg-blue-600 dark:peer-checked:bg-blue-600"
          ></div>
          <span
            class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300"
            >Toggle Light Mode</span
          >
        </label>
      </div>
    </nav>
  </div>

  <!-- This will load the current page (Home, Admin, or Authentication) -->
  <router-outlet class="w-full"></router-outlet>
</div>
