<!-- This div is for the whole box including the header -->
<div class="scrollable-box">

  <!-- This div is for the header section -->
  <div class="header">
    <div class="headerColumn">
      Name:
      <input type="text" [(ngModel)]="Name">
    </div>
    <div class="headerColumn">
      Size
      <input type="text" [(ngModel)]="Size">
    </div>
    <div class="headerColumn">
      Is Metric: 
      <input type="checkbox" [(ngModel)]="isMetric">
    </div>
    <div class="headerColumn">
      Location
    </div>
    <div class="headerColumn">
      Count
    </div>
    <div class="headerColumn">
      Threshold
    </div>
    <div class="headerColumn">
      Add/Subtract
    </div>
    
  </div>

  <!-- This div is for the content scrolling section -->
  <div class="content">
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
  </div>
</div>
`