<div class="scrollable-box">
  <table>
    <thead>
      <th colspan="5">
        <app-item-search (formSubmit)="handleSearch($event)" class="search"></app-item-search>
      </th>
    </thead>

    <tbody>
      <tr *ngFor="let item of items" class="hover:bg-gray-100 cursor-pointer"(click)="onItemClick(item)">
        <td class="itemColumn">{{ item.name }}</td>
        <td class="itemColumn">{{ item.size }}</td>
        <td class="itemColumn">{{ item.is_metric }}</td>
        <td class="itemColumn">{{ item.count }}</td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="isPopupVisible" class="overlay" (click)="closePopup()">
    <app-item-popup [item]="selectedItem" (close)="closePopup()"></app-item-popup>
  </div>
</div>
