<!-- The main home page content -->
<div class="scrollable-box">
    <div class="header">
      <div class="headerColumn">
        Name:
        <input type="text" [(ngModel)]="Name">
      </div>
      <div class="headerColumn">
        Size:
        <input type="text" [(ngModel)]="Size">
      </div>
      <div class="headerColumn">
        Is Metric: 
        <input type="checkbox" [(ngModel)]="isMetric">
      </div>
      <div class="headerColumn">Location</div>
      <div class="headerColumn">Count</div>
      <div class="headerColumn">Threshold</div>
      <div class="headerColumn">Add/Subtract</div>
    </div>
  
    <!-- Content section -->
    <div class="content">
      <div *ngFor="let item of testList; trackBy: trackBySize" class="item">
        <div class="itemColumn">{{ item.name }}</div>
        <div class="itemColumn">{{ item.size }}</div>
        <div class="itemColumn">{{ item.ismetric }}</div>
        <div class="itemColumn">{{ item.location }}</div>
        <div class="itemColumn">{{ item.count }}</div>
        <div class="itemColumn">{{ item.threshold }}</div>
        <div class="itemColumn">
          <input style="width:40px" type="number" [(ngModel)]="itemInput[item.name]" placeholder="1">
          <button (click)="incrementCount(item)">+</button>
          <button (click)="decrementCount(item)">-</button>
        </div>
        <div class="itemColumn">
          <button id="{{ item.name }}" (click)="getName($event)">Show Name</button>
        </div>
      </div>
    </div>
  </div>
  