<form
  [formGroup]="userForm"
  class="flex flex-row flex-grow flex-wrap items-end gap-4 p-2 justify-center bg-white dark:bg-gray-900 text-black dark:text-white"
  (ngSubmit)="onSubmit()"
>
  <p>{{ user.username }}</p>
  <input type="password" formControlName="password" />

  <select formControlName="authorization">
    <option value="0">Admin</option>
    <option value="1">High Level Student Worker</option>
    <option value="2">Student Worker</option>
  </select>

  <button type="submit">Submit</button>
</form>
