.header {
    
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
    display: grid;
    grid-template-columns: 15% 15% 10% 10% 10% 10% 10% 10% 10%;
}

.headerColumn{
    height: auto;
    width: auto;
    padding: 10px;
}

.textBox{
    height: 30px;
    width: auto;
}