<!--
<div [formGroup]="myForm" class="flex flex-row">
  <title>Name</title>
  <div class="flex flex-col">
  </div>
  <title>Size</title>
  <div class="flex flex-col">

  </div>
  <select formControlName="metric">
    <option value="True">Metric</option>
    <option value="False">Non-Metric</option>
  </select>
  <button type="button" (click)="onSubmit('single')">Search</button>
  <button type="button" (click)="onSubmit('multi')">Search Similar</button>
</div>
-->

<div [formGroup]="myForm" class="header">
  <div class="headerColumn">
    Name:
    <input class="textBox" type="text" formControlName="name" />
    <div *ngIf="myForm.controls.name.invalid && myForm.controls.name.touched">
      <small>Name is required.</small>
    </div>
  </div>
  <div class="headerColumn">
    Size:

    <input class="textBox" type="text" formControlName="size" />
    <div *ngIf="myForm.controls.size.invalid && myForm.controls.size.touched">
      <small>Size is required.</small>
    </div>
  </div>
  <div class="headerColumn">
    Is Metric:
    <input type="checkbox" formControlName="metric" />
  </div>
  <div class="headerColumn">Count</div>

  <div class="headerColumn">
    <button type="button" (click)="onSubmit('single')">Search</button>
  </div>
  <div class="headerColumn">
    <button type="button" (click)="onSubmit('multi')">Search Similar</button>
  </div>
</div>
