<!-- <div class="itemColumn" (click)="showPopup()">{{ item.name }}</div> -->
<div class="flex flex-col h-full bg-gray-100 text-black dark:bg-gray-900 dark:text-white">
<div class="itemColumn">{{ item.size }}</div>
<div class="itemColumn">{{ item.is_metric }}</div>
<div class="itemColumn">{{ item.location }}</div>
<div class="itemColumn">{{ item.count }}</div>
<div class="itemColumn">{{ item.threshold }}</div>
<div class="itemColumn">
  <input class="subtractAmount" type="text" />
  <button>-</button>
</div>
</div>

<!-- <div *ngIf="isPopupVisible" class="overlay" (click)="closePopup($event)"></div> -->

<!-- <div *ngIf="isPopupVisible" class="popup"> -->
<!--   <div class="popup-content"> -->
<!--     <input type="text" [(ngModel)]="item.name" /> -->
<!--     <input type="text" [(ngModel)]="item.size" /> -->
<!--     <input type="text" [(ngModel)]="item.is_metric" /> -->
<!--     <input type="text" [(ngModel)]="item.location" /> -->
<!--     <input type="text" [(ngModel)]="item.count" /> -->
<!--     <input type="text" [(ngModel)]="item.threshold" /> -->
<!--     <!-- <button (click)="closePopup($event)" class="close-button">Close</button> -->
-->
<!--     <!-- <button (click)="updateItem()" class="update-button">Update</button> -->
-->
<!--   </div> -->
<!-- </div> -->
