<select id="dropdown" [(ngModel)]="selectedCsvFile">
  <option *ngFor="let file of csv_files" [value]="file">{{ file }}</option>
</select>
<div class="flex flex-col">
  <div>
    <label for="file">Upload File</label>
    <input type="file" (change)="uploadFile($event)" />
  </div>
  <button (click)="backupData($event)"
class="border-solid border-slate-50 rounded-md p-2 bg-slate-500 text-white hover:bg-slate-600"
>Create New Backup Data</button>
  <button (click)="loadData($event)" class="border-solid border-slate-50 rounded-md hover:bg-slate-200">Load Data</button>
  <button (click)="downloadFile(selectedCsvFile)" class="border-solid border-slate-50 rounded-md hover:bg-slate-200">Download Data</button>
</div>

