<!-- updated component template -->
<div [class.dark]="darkMode | async" class="overlay">
  <div class="popup dark:text-white dark:bg-gray-900">
    <div *ngIf="warning" class="popup-content warning-content">
      <p class="Warning">⚠️ WARNING!!!!</p>
    </div>
    <div class="popup-content message-content">
      <p class="message">{{ message }}</p>
      <p class="subtext">Would you like to proceed with this action?</p>
    </div>
    <div class="button-group">
      <button class="btn-outline" (click)="confirm($event)">Confirm</button>
      <button class="btn-outline" (click)="cancel($event)">Cancel</button>
    </div>
  </div>
</div>
