<div class="overlay" (click)="closePopup()">
  <div class="popup">
    <div class="popup-content">
      <h1 class="popup-header">{{ item.name }}</h1>
      <table>
        <tr>
          <td>
            <label>Name:</label>
          </td>
          <td>
            <p class="popup-info">{{ item.name }}</p>
          </td>
        </tr>
        <tr>
          <td>
            <label>Size:</label>
          </td>
          <td>
            <p class="popup-info">{{ item.size }}</p>
          </td>
        </tr>
        <tr>
          <td>
            <label>Metric:</label>
          </td>
          <td>
            <p class="popup-info">{{ item.is_metric }}</p>
          </td>
        </tr>
        <tr>
          <td>
            <label>Location:</label>
          </td>
          <td>
            <table>
              <tr>
                <td>
                  <label>Shelf:</label>
                </td>
                <td>
                  <p class="popup-info">{{ item.location[0] }}</p>
                </td>
              </tr>
              <tr>
                <td>
                  <label>Rack:</label>
                </td>
                <td>
                  <p class="popup-info">{{ item.location[1] }}</p>
                </td>
              </tr>
              <tr>
                <td>
                  <label>Box:</label>
                </td>
                <td>
                  <p class="popup-info">{{ item.location[2] }}</p>
                </td>
              </tr>
              <tr>
                <td>
                  <label>Row:</label>
                </td>
                <td>
                  <p class="popup-info">{{ item.location[3] }}</p>
                </td>
              </tr>
              <tr>
                <td>
                  <label>Columns:</label>
                </td>
                <td>
                  <p class="popup-info">{{ item.location[4] }}</p>
                </td>
              </tr>
              <tr>
                <td>
                  <label>Depth:</label>
                </td>
                <td>
                  <p class="popup-info">{{ item.location[5] }}</p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <label>Count:</label>
          </td>
          <td>
            <p class="popup-info">{{ item.count }}</p>
          </td>
        </tr>
        <tr>
          <td>
            <button (click)="closePopup()" class="close-button">Close</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
