<div
  class="fixed top-0 left-0 w-full h-full bg-black/50 z-[9998]"
  [class.dark]="darkMode | async"
  (click)="closePopup($event)"
>
  <div
    class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 p-5 shadow-lg z-[9999] w-[70%] min-w-[400px] text-black dark:text-white bg-white dark:bg-gray-900"
    (click)="stopClickPropagation($event)"
  >
    <div class="p-5 flex flex-col">
      <h1 class="font-bold text-[30px] text-center w-full">{{ item.name }}</h1>
      <table>
        <tr>
          <td>
            <label>Name:</label>
          </td>
          <td>
            <p class="rounded-sm text-[15px] w-full">{{ item.name }}</p>
          </td>
        </tr>
        <tr>
          <td>
            <label>Size:</label>
          </td>
          <td>
            <p class="rounded-sm text-[15px] w-full">{{ item.size }}</p>
          </td>
        </tr>
        <tr>
          <td>
            <label>Metric:</label>
          </td>
          <td>
            <p class="rounded-sm text-[15px] w-full">{{ item.is_metric }}</p>
          </td>
        </tr>
        <tr>
          <td>
            <label>Location:</label>
          </td>
          <td>
            <table>
              <tr>
                <td>
                  <label>Shelf:</label>
                </td>
                <td>
                  <p class="rounded-sm text-[15px] w-full">
                    {{ item.loc_shelf }}
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <label>Rack:</label>
                </td>
                <td>
                  <p class="rounded-sm text-[15px] w-full">
                    {{ item.loc_rack }}
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <label>Box:</label>
                </td>
                <td>
                  <p class="rounded-sm text-[15px] w-full">
                    {{ item.loc_box }}
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <label>Row:</label>
                </td>
                <td>
                  <p class="rounded-sm text-[15px] w-full">
                    {{ item.loc_row }}
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <label>Columns:</label>
                </td>
                <td>
                  <p class="rounded-sm text-[15px] w-full">
                    {{ item.loc_col }}
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <label>Depth:</label>
                </td>
                <td>
                  <p class="rounded-sm text-[15px] w-full">
                    {{ item.loc_depth }}
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <label>Count:</label>
          </td>
          <td>
            <p class="rounded-sm text-[15px] w-full">{{ item.count }}</p>
          </td>
        </tr>
        <tr>
          <td>
            <button
              (click)="closePopup($event)"
              class="w-full h-full border border-gray-50 items-center dark:bg-gray-700 rounded-md dark:hover:bg-gray-600 hover:bg-gray-300"
            >
              Close
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
