<div
  class="overlay"
  [class.dark]="darkMode | async"
  (click)="closePopup($event)"
>
  <div
    class="popup text-black dark:text-white bg-white dark:bg-gray-900"
    (click)="stopClickPropagation($event)"
  >
    <div class="popup-content">
      <h1 class="popup-header">{{ item.name }}</h1>
      <table>
        <tr>
          <td>
            <label>Name:</label>
          </td>
          <td>
            <p class="popup-info">{{ item.name }}</p>
          </td>
        </tr>
        <tr>
          <td>
            <label>Size:</label>
          </td>
          <td>
            <p class="popup-info">{{ item.size }}</p>
          </td>
        </tr>
        <tr>
          <td>
            <label>Metric:</label>
          </td>
          <td>
            <p class="popup-info">{{ item.is_metric }}</p>
          </td>
        </tr>
        <tr>
          <td>
            <label>Location:</label>
          </td>
          <td>
            <table>
              <tr>
                <td>
                  <label>Shelf:</label>
                </td>
                <td>
                  <p class="popup-info">{{ item.loc_shelf }}</p>
                </td>
              </tr>
              <tr>
                <td>
                  <label>Rack:</label>
                </td>
                <td>
                  <p class="popup-info">{{ item.loc_rack }}</p>
                </td>
              </tr>
              <tr>
                <td>
                  <label>Box:</label>
                </td>
                <td>
                  <p class="popup-info">{{ item.loc_box }}</p>
                </td>
              </tr>
              <tr>
                <td>
                  <label>Row:</label>
                </td>
                <td>
                  <p class="popup-info">{{ item.loc_row }}</p>
                </td>
              </tr>
              <tr>
                <td>
                  <label>Columns:</label>
                </td>
                <td>
                  <p class="popup-info">{{ item.loc_col }}</p>
                </td>
              </tr>
              <tr>
                <td>
                  <label>Depth:</label>
                </td>
                <td>
                  <p class="popup-info">{{ item.loc_depth }}</p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <label>Count:</label>
          </td>
          <td>
            <p class="popup-info">{{ item.count }}</p>
          </td>
        </tr>
        <tr>
          <td>
            <button (click)="closePopup($event)" class="close-button">
              Close
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
